<%-include('navbar')%>
<form method="POST" action="/new">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="message">Your Message</label>
   <input type="text" name="message">
   <button>Submit Message</button>
 </form>