<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
        <header>
            <%-include('navbar')%>
        </header>
        <body>
            <div class="messages">
            <%messages.forEach(message => {%>
                <div class="message-cont">
                    <%-include('message', {message:message})%>
                    <a href="/message/<%=message.user%>">See Details</a>
                </div>
            <%})%>
            </div>
        </body>
</html>
